<div class="bookEntry">
      <img src=<%= item.image_url %>></img>
      <h4 class="bookTitle">Title:  <%= item.title %> </h4>
      <h5 class="bookAuthor">Author:  <%= item.author %></h5>
      <h5 class="bookIsbn">Isbn:  <%= item.isbn %></h5>
      <p class="bookDesc">Description:  <%= item.description %></p>
    
    <button class="bookSelect">Select This book</button>

      <section class="hidden-form">
        <%- include('./edit', {formAction, item}); %>
      </section>
      
  </div>