<!DOCTYPE html>
<html>
    <%- include('../../layout/head') %>
  <body>
      <%- include('../../layout/header') %>
  <main class="showSingle">
      <%- include('./detail', {item}); %> 
      <form class="delete" action="/delete/<%= item.id %>" method="post">
        <input type="hidden" name="_method" value="delete" /> <button type="submit"> Delete </button>
      </form>
              
  </main>
  <%- include('../../layout/footer') %>
</body>
</html>