<!DOCTYPE html>
<html>
  <%- include('../layout/head') -%>
  <body>
      <%- include('../layout/header') -%>
      <p class="bookNum"><%= results.length %> <%= results.length === 1 ? "book" : "books" %> in the collection.</p>
    <main>
      <% results.forEach(item => { %>
        <a href="/books/<%= item.id %>">
          <%- include('books/detail', {formAction: 'get', item}); %>
        </a>
      <% }); %>
    </main>
    <%- include('../layout/footer') -%>
  </body>
</html>
