<!DOCTYPE html>
<html>
  <%- include('../layout/head') -%>
  <body>
      <%- include('../layout/header') -%>
      <p><%= results.length %> books in the collection.</p>
    <main>
      <% results.forEach(item => { %>
        <a href="/books/<%= item.id %>">
          <%- include('books/detail', {item}); %>
        </a>
      <% }); %>
    </main>
    <%- include('../layout/footer') -%>
  </body>
</html>
