<!DOCTYPE html>
<html>
  <%- include('./layout/head') -%>
  <body>
      <%- include('./layout/header') -%>
      <p><%= results.length %> books in the collection.</p>
    <main class="main-container">
      <% results.forEach(item => { %>
        <%- include('books/detail', {item}); %>
      <% }); %>
    </main>
    <%- include('./layout/footer') -%>
  </body>
</html>
